@import "../../assets/vars";


// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// SIDENAV

.sidenav {
  margin: 0 !important;
  padding: 0 !important;

  min-height: 100% !important;
  height: 100% !important;
  max-height: 100% !important;

  min-width: 25% !important;
  width: 25% !important;
  max-width: 25% !important;

  // Todo Border
  border-radius: 10px !important;

  // Todo Color
  background: transparent;

  // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
  // TOP

  .top {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 30% !important;
    height: 30% !important;
    max-height: 30% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    display: flex;
    flex-direction: column;

    // Todo Border
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;

    // Todo Color
    background: transparent !important;

    .title {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 50% !important;
      height: 50% !important;
      max-height: 50% !important;

      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;

      display: flex;
      justify-content: center;
      align-items: center;

      // Todo Border
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;

      // Todo Color
      color: $white !important;
      background-color: $primaryColor;

      p {
        margin: 0 !important;
        padding: 0 !important;
        // Todo Font Styles
        color: $primaryTextColor;
        font-size: 36px;
        font-weight: bold;
      }
    }

    .active { background-color: $primaryColor !important; }
    .link {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 16.366666666666667% !important;
      height: 16.66666666666667% !important;
      max-height: 16.66666666666667% !important;

      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;

      display: flex;
      justify-content: center;
      align-items: center;

      // Todo Color
      color: $white;
      background-color: $primaryColorLighter2;
      // Todo Border
      border-top: 1px solid $primaryColor;

      &:hover {
        // Todo Color
        background-color: $primaryColor;
      }

      .p {
        margin: 0 !important;
        padding: 0 !important;

        // Todo Font Style
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
  // MIDDLE

  .middle {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 40% !important;
    height: 40% !important;
    max-height: 40% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    display: flex;
    flex-direction: column;
    align-items: center;

    // Todo Color
    background: transparent !important;

    .desc {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 55% !important;
      height: 55% !important;
      max-height: 55% !important;

      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;

      // Todo Remove
      background-color: $grey200;
    }

    .social {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 45% !important;
      height: 45% !important;
      max-height: 45% !important;

      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;

      display: flex;
      flex-direction: column;

      // Todo Color
      background-color: $primaryColor;

      .thumbs {
        margin: 0 !important;
        padding: 0 !important;

        min-height: 50% !important;
        height: 50% !important;
        max-height: 50% !important;

        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        // Todo Color
        background-color: transparent !important;

        .thumb {
          margin: 0 !important;
          padding: 0 !important;

          min-height: 100% !important;
          height: 100% !important;
          max-height: 100% !important;

          min-width: 20% !important;
          width: 20% !important;
          max-width: 20% !important;

          display: flex;
          justify-content: center;
          align-items: center;

          // Todo Color
          color: $primaryTextColor;

          &:hover {
            // Todo Color
            background-color: $primaryColorLighter2;
          }
        }
      }

      .localisation {
        margin: 0 !important;
        padding: 0 !important;

        min-height: 50% !important;
        height: 50% !important;
        max-height: 50% !important;

        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // Todo Map image
        background: url("http://fr.ubergizmo.com/wp-content/uploads/2016/03/google-maps-link.jpg") no-repeat center center;
        background-size: cover;

        .overlay {
          margin: 0 !important;
          padding: 0 !important;

          min-height: 100% !important;
          height: 100% !important;
          max-height: 100% !important;

          min-width: 100% !important;
          width: 100% !important;
          max-width: 100% !important;

          display: flex !important;
          justify-content: center;
          align-items: center;

          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.5s linear;

          // Todo Color
          background-color: $grey300O;
        }

        &:hover .overlay {
          visibility: visible;
          opacity: 1;
        }
      }
    }

  }

  // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
  // BOTTOM

  .bottom {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 30% !important;
    height: 30% !important;
    max-height: 30% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // Todo Border
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;

    // Todo Color
    background: $primaryColor !important;
    color: $white !important;

    .previous-btn-container {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 10% !important;
      width: 10% !important;
      max-width: 10% !important;

      display: flex;
      justify-content: center;
      align-items: center;

      // Todo Border
      border-bottom-left-radius: 10px !important;

      &:hover {
        // Todo Color
        background-color: $primaryColorLighter;
      }
    }

    .content-container {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 80% !important;
      height: 80% !important;
      max-height: 80% !important;

      min-width: 80% !important;
      width: 80% !important;
      max-width: 80% !important;

      // Todo Color
      background-color: transparent;
    }

    .next-btn-container {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 10% !important;
      width: 10% !important;
      max-width: 10% !important;

      display: flex;
      justify-content: center;
      align-items: center;

      // Todo Border
      border-bottom-right-radius: 10px !important;

      &:hover {
        // Todo Color
        background-color: $primaryColorLighter;
      }
    }
  }

  // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
  // GENERICS

  .no-decoration {
    color: inherit !important;
    text-decoration: none !important;
  }
}