@import "../../assets/vars";

.sidenav {
  margin: 0 !important;
  padding: 0 !important;

  min-height: 100% !important;
  height: 100% !important;
  max-height: 100% !important;

  min-width: 25% !important;
  width: 25% !important;
  max-width: 25% !important;

  border-radius: 10px !important;

  background: $primaryOpacityColor;

  .top {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 30% !important;
    height: 30% !important;
    max-height: 30% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    display: flex;
    flex-direction: column;

    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;

    background: transparent !important;

    .title {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 50% !important;
      height: 50% !important;
      max-height: 50% !important;

      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;

      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;

      background: $secondaryColor !important;
    }

    .link {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 16.366666666666667% !important;
      height: 16.66666666666667% !important;
      max-height: 16.66666666666667% !important;

      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;

      background: $secondaryColor;
      border-top: 1px solid $white;

      &:hover {
        background-color: white;
      }
    }
  }

  .middle {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 40% !important;
    height: 40% !important;
    max-height: 40% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: transparent !important;

    .desc {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 45% !important;
      height: 45% !important;
      max-height: 45% !important;

      min-width: 90% !important;
      width: 90% !important;
      max-width: 90% !important;

      //TODO remove
      border: 1px solid white;
      border-bottom: none;
    }

    .social {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 45% !important;
      height: 45% !important;
      max-height: 45% !important;

      min-width: 90% !important;
      width: 90% !important;
      max-width: 90% !important;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      //TODO remove
      border: 1px solid white;

      .thumb {
        margin: 0 !important;
        margin-top: 5% !important;
        padding: 0 !important;

        min-height: 30% !important;
        height: 30% !important;
        max-height: 30% !important;

        min-width: 20% !important;
        width: 20% !important;
        max-width: 20% !important;

        border: 1px solid black;
      }
    }

  }

  .bottom {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 30% !important;
    height: 30% !important;
    max-height: 30% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: transparent !important;
    color: white !important;

    .previous-btn-container {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 10% !important;
      width: 10% !important;
      max-width: 10% !important;

      border-bottom-left-radius: 10px !important;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: $secondaryColor;
      }
    }

    .content-container {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 80% !important;
      height: 80% !important;
      max-height: 80% !important;

      min-width: 80% !important;
      width: 80% !important;
      max-width: 80% !important;

      //TODO remove
      border: 1px solid white;
    }

    .next-btn-container {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 10% !important;
      width: 10% !important;
      max-width: 10% !important;

      border-bottom-right-radius: 10px !important;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: $secondaryColor;
      }
    }
  }
}