@import "../../assets/vars";

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// SKILLTAB

.skilltab {
  margin: 0 !important;
  padding: 0 !important;

  min-height: 100% !important;
  height: 100% !important;
  max-height: 100% !important;

  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;

  display: flex;
  flex-direction: column;

  .title {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 20% !important;
    height: 20% !important;
    max-height: 20% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Todo Color
    border: 0.1px solid $grey500O;

    p {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .skills {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 80% !important;
    height: 80% !important;
    max-height: 80% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    display: flex;
    flex-direction: column;


    .skill {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 20% !important;
      height: 20% !important;
      max-height: 20% !important;

      min-width: 90% !important;
      width: 100% !important;
      max-width: 100% !important;

      display: flex;
      flex-direction: row;
      align-items: center;

      &:hover {
        background-color: $grey500O;
      }

      p {
        margin: 0 !important;
        padding: 0 !important;

        min-width: 50% !important;
        width: 50% !important;
        max-width: 50% !important;
      }

      span {
        margin: 0 !important;
        padding: 0 !important;

        min-width: 50% !important;
        width: 50% !important;
        max-width: 50% !important;

        text-align: right;
      }
    }
  }
}