@import "../../assets/vars";

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// SKILLTAB

.skilltab {
  margin: 0 !important;
  padding: 0 !important;

  min-height: 100% !important;
  height: 100% !important;
  max-height: 100% !important;

  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;

  display: flex;
  flex-direction: column;

  .skills {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 100% !important;
    height: 100% !important;
    max-height: 100% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    display: flex;
    flex-direction: column;


    .skill {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 20% !important;
      height: 20% !important;
      max-height: 20% !important;

      min-width: 90% !important;
      width: 100% !important;
      max-width: 100% !important;

      display: flex;
      flex-direction: row;
      align-items: center;

      .libelle {
        margin: 0 !important;
        margin-left: 10% !important;
        padding: 0 !important;

        min-height: 100% !important;
        height: 100% !important;
        max-height: 100% !important;

        min-width: 30% !important;
        width: 30% !important;
        max-width: 30% !important;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
          // Todo Font Styles
          font-size: 16px;
          font-weight: bold;
          // Todo Color
          color: $primaryTextColor;
        }
      }

      .level {
        margin: 0 !important;
        padding: 0 !important;

        min-height: 100% !important;
        height: 100% !important;
        max-height: 100% !important;

        min-width: 60% !important;
        width: 60% !important;
        max-width: 60% !important;

        display: flex;
        justify-content: center;
        align-items: center;

        i {
          // Todo Color
          color: $primaryTextColor;
          font-size: 12px !important;
        }
      }
    }
    .alternate { background-color: $primaryColorLighter !important; }
  }
}