@import "../../assets/vars";

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// TOOLBAR

.toolbar{
  margin: 0 !important;
  margin-top: 0.25% !important;
  padding: 0 !important;

  min-height: 9.75% !important;
  height: 9.75% !important;
  max-height: 9.75%!important;

  min-width: 100%!important;
  width: 100% !important;
  max-width: 100% !important;

  display: flex;
  flex-direction: row;

  // Todo Border
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;

  // Todo Color
  color: $white !important;
  background: $primaryColorOpacity !important;

  // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
  // BTNS

  .direction-btn {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 100% !important;
    height: 100% !important;
    max-height: 100%!important;

    min-width: 10%!important;
    width: 10% !important;
    max-width: 10% !important;

    display: flex;
    justify-content: center;
    align-items: center;

    // Todo Color
    background-color: transparent;

    &:hover {
      // Todo Color
      //background-color: $primaryColorLightestOpacity;
    }

  }
  // Todo Border
  .previous { border-bottom-left-radius: 10px !important; }
  // Todo Border
  .next { border-bottom-right-radius: 10px !important; }
  .disabled { pointer-events: none; cursor: default; background-color: transparent;};

  // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
  // LINKS

  .links {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 100% !important;
    height: 100% !important;
    max-height: 100%!important;

    min-width: 80%!important;
    width: 80% !important;
    max-width: 80% !important;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    // Todo Color
    background-color: transparent;

    .link {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100%!important;

      min-width: 12.5%!important;
      width: 12.5% !important;
      max-width: 12.5% !important;

      display: flex;
      justify-content: center;
      align-items: center;

      // Todo Color
      background-color: transparent;

      &:hover {
        // Todo Color
        //background-color: $primaryColorLightestOpacity;;
      }
    }
  }
}