@import "vars";

.App {
  margin: 0 !important;
  padding: 0 !important;

  min-height: 100vh !important;
  height: 100vh !important;
  max-height: 100vh !important;

  min-width: 100vw !important;
  width: 100vw !important;
  max-width: 100vw !important;

  display: flex;
  justify-content: center;
  align-items: center;

  .panel{
    margin: 0 !important;
    padding: 0 !important;

    min-height: 80% !important;
    height: 80% !important;
    max-height: 80%!important;

    min-width: 80%!important;
    width: 80% !important;
    max-width: 80% !important;

    display: flex;

    border-radius: 10px !important;

    background: transparent !important;
  }
}

