@import "../../../assets/vars";

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// HEADER

.header {
  margin: 0 !important;
  padding: 0 !important;

  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;

  min-height: 33.5% !important;
  height: 33.5% !important;
  max-height: 33.5% !important;

  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;

  // Todo Color
  background-color: $primaryOpacityColor;
}

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// THUMBS

.thumbs {
  margin: 0 !important;
  padding: 0 !important;

  min-height: 34% !important;
  height: 34% !important;
  max-height: 34% !important;

  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;

  display: flex !important;
  flex-direction: row !important;

  .thumb {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 100% !important;
    height: 100% !important;
    max-height: 100% !important;

    min-width: 33.3333333333333% !important;
    width: 33.3333333333333% !important;
    max-width: 33.3333333333333% !important;

    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Todo Deserve Better
    &:hover {
      background-color: $grey500O;
    }

    .logo {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 80% !important;
      height: 80% !important;
      max-height: 80% !important;

      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
        margin: 0 !important;
        padding: 0 !important;

        min-width: 80% !important;
        width: 80% !important;
        max-width: 80% !important;

        display: none;

        // Todo Font Style
        font-size: 18px;
        font-weight: bold;
      }

      &:hover i {
        display: none;
      }

      &:hover p {
        display: block;
      }
    }

    .title {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 20% !important;
      height: 20% !important;
      max-height: 20% !important;

      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;

      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 0 !important;
        padding: 0 !important;

        // Todo Font Style
        font-size: 150%;
        font-weight: bold;
      }
    }
  }
}

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// STATS

.stats {
  margin: 0 !important;
  padding: 0 !important;

  min-height: 32.5% !important;
  height: 32.5% !important;
  max-height: 32.5% !important;

  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;

  .line {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 33.3333333333333% !important;
    height: 33.3333333333333% !important;
    max-height: 33.3333333333333% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    display: flex;
    flex-direction: row;

    // Todo Color
    background-color: $grey200;

    // Todo Deserve Better
    &:hover {
      //background-color: $grey500O;
    }

    &:hover .progress-bar p {
      visibility: visible;
      opacity: 1;
    }

    .progress-bar {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100%;
      height: 100%;
      max-height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      p {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;

        // Todo Color
        color: $white;

        // Todo Font Style
        font-size: 150%;
        font-weight: bold;
      }
    }
    .first {
      min-width: 80% !important;
      width: 80% !important;
      max-width: 80% !important;

      // Todo Color
      background-color: $grey900;
    }
    .second {
      min-width: 60% !important;
      width: 60% !important;
      max-width: 60% !important;

      // Todo Color
      background-color: $grey800;
    }
    .third {
      min-width: 40% !important;
      width: 40% !important;
      max-width: 40% !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      // Todo Color
      background-color: $grey700;
    }
  }
}

