@import "../../../assets/vars";

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// SELECTORS

.selectors {
  margin: 0 !important;
  padding: 0 !important;

  min-height: 10% !important;
  height: 10% !important;
  max-height: 10% !important;

  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;

  display: flex !important;
  flex-direction: row;


  .tag {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 100% !important;
    height: 100% !important;
    max-height: 100% !important;

    min-width: 25% !important;
    width: 25% !important;
    max-width: 25% !important;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $grey500O;
    }

    p {
      margin: 0 !important;
      padding: 0 !important;

      // Todo Font Style
      color: $white;
      font-size: 100%;
      font-weight: bold;
    }
  }
  .first { border-top-left-radius: 10px !important; }
  .last { border-top-right-radius: 10px !important; }
}

.projects {
  margin: 0 !important;
  padding: 0 !important;

  min-height: 90% !important;
  height: 90% !important;
  max-height: 90% !important;

  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;

  display: flex;
  flex-direction: column;

  .row {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 33.33333333333333% !important;
    height: 33.33333333333333% !important;
    max-height: 33.33333333333333% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    display: flex;
    flex-direction: row;

    .col {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 25% !important;
      width: 25% !important;
      max-width: 25% !important;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      &:hover .overlay {
        visibility: visible;
        opacity: 1;
      }

      .test1 { background-color: yellow; }
      .test2 { background-color: blue; }
      .test3 { background-color: green; }
      img {
        margin: 0 !important;
        padding: 0 !important;

        min-height: 100% !important;
        height: 100% !important;
        max-height: 100% !important;

        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;

        background-color: red;
      }

      .overlay {
        margin: 0 !important;
        padding: 0 !important;

        min-height: 100% !important;
        height: 100% !important;
        max-height: 100% !important;

        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;

        position: absolute;
        top: 0;
        left: 0;

        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;

        background-color: $grey500O;
      }
    }
  }
}



