@import "../../../assets/vars";

// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// SELECTORS

.selectors {
  margin: 0 !important;
  padding: 0 !important;

  min-height: 5% !important;
  height: 5% !important;
  max-height: 5% !important;

  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;

  display: flex !important;
  flex-direction: row;

  // Todo Border
  border-bottom: 0.1px solid $primaryColorLighter2;

    .previous {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 33.333333333333% !important;
      width: 33.333333333333% !important;
      max-width: 33.333333333333% !important;

      display: flex !important;
      justify-content: center;
      align-items: center;

      // Todo Color
      color: $white;

      &:hover {
        // Todo Color
        background: $primaryColorLighter2;
      }
    }
    .thumbnail {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 33.333333333333% !important;
      width: 33.333333333333% !important;
      max-width: 33.333333333333% !important;

      display: flex !important;
      justify-content: center;
      align-items: center;

      i {
        margin-right: 2%;
        // Todo Color
        color: $white;
      }
    }
    .next {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 33.333333333333% !important;
      width: 33.333333333333% !important;
      max-width: 33.333333333333% !important;

      display: flex !important;
      justify-content: center;
      align-items: center;

      // Todo Color
      color: $white;

      &:hover {
        // Todo Color
        background: $primaryColorLighter2;
      }
    }
    .disabled { pointer-events: none; cursor: default;};
}

.projects {
  margin: 0 !important;
  padding: 0 !important;

  min-height: 95% !important;
  height: 95% !important;
  max-height: 95% !important;

  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;

  display: flex;
  flex-direction: column;

  .row {
    margin: 0 !important;
    padding: 0 !important;

    min-height: 33.33333333333333% !important;
    height: 33.33333333333333% !important;
    max-height: 33.33333333333333% !important;

    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;

    display: flex;
    flex-direction: row;

    .col {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 25% !important;
      width: 25% !important;
      max-width: 25% !important;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      &:hover .overlay {
        visibility: visible;
        opacity: 1;
      }

      img {
        margin: 0 !important;
        padding: 0 !important;

        min-height: 100% !important;
        height: 100% !important;
        max-height: 100% !important;

        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
      }

      .overlay {
        margin: 0 !important;
        padding: 0 !important;

        min-height: 100% !important;
        height: 100% !important;
        max-height: 100% !important;

        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;

        position: absolute;
        top: 0;
        left: 0;

        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;

        background-color: $primaryColorLightest;
      }
    }
  }
}



